In [1]:
import pandas as pd
import numpy as np

tips = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv")
tips['tip_pct'] = tips['tip'] / tips['total_bill']

In [4]:
data = pd.DataFrame({
    'Sample':np.arange(10)+1,
    'Nationality':['USA','Japan','USA','Japan','Japan','Japan','USA','USA','Japan','USA'],
    'Handedness':['Right-handed','Left-handed','Right-handed','Right-handed','Left-handed','Right-handed','Right-handed','Left-handed','Right-handed','Right-handed']
})

In [6]:
data

   Sample Nationality    Handedness
0       1         USA  Right-handed
1       2       Japan   Left-handed
2       3         USA  Right-handed
3       4       Japan  Right-handed
4       5       Japan   Left-handed
5       6       Japan  Right-handed
6       7         USA  Right-handed
7       8         USA   Left-handed
8       9       Japan  Right-handed
9      10         USA  Right-handed

In [15]:
pd.crosstab(data['Handedness'],data['Nationality'])

Nationality   Japan  USA
Handedness
Left-handed       2    1
Right-handed      3    4

In [14]:
# 数据透视表
data.pivot_table(columns='Nationality',index='Handedness',aggfunc='count')

             Sample
Nationality   Japan USA
Handedness
Left-handed       2   1
Right-handed      3   4

In [11]:
data.groupby(['Nationality','Handedness']).count()

                          Sample
Nationality Handedness
Japan       Left-handed        2
            Right-handed       3
USA         Left-handed        1
            Right-handed       4