In [11]:
from datetime import datetime

In [12]:
from dateutil.parser import parse

In [13]:
import pandas as pd
import numpy as np

In [14]:
a = datetime.now()

In [15]:
a

datetime.datetime(2018, 11, 12, 17, 58, 6, 766026)

In [16]:
str(a)

'2018-11-12 17:58:06.766026'

In [17]:
a.strftime('%F %X')

'2018-11-12 17:58:06'

In [18]:
time_str = '2018-11-12 12:07:12'

In [19]:
datetime.strptime(time_str,'%Y-%m-%d %H:%M:%S')

datetime.datetime(2018, 11, 12, 12, 7, 12)

In [20]:
parse('2018:11:15 12:59:42')

datetime.datetime(2018, 11, 12, 12, 59, 42)

In [21]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [22]:
a= pd.to_datetime(datestrs)

In [23]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

In [24]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [25]:
ts = pd.Series(np.random.randn(6), index=dates)

In [26]:
ts

2011-01-02   -0.240332
2011-01-05    0.086389
2011-01-07    1.215852
2011-01-08   -1.115186
2011-01-10    0.333962
2011-01-12    1.243409
dtype: float64

In [27]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [28]:
(ts.index[1]).strftime('%F %X')

'2011-01-05 00:00:00'

In [29]:
ts['20110112']

1.2434091345697649

In [30]:
longer_ts = pd.Series(np.random.randint(1,100,1000),
             index=pd.date_range('1/1/2000', periods=1000))

In [31]:
longer_ts

2000-01-01    94
2000-01-02    54
2000-01-03     5
2000-01-04     7
2000-01-05    20
2000-01-06     3
2000-01-07    55
2000-01-08    54
2000-01-09    26
2000-01-10    57
2000-01-11    98
2000-01-12    88
2000-01-13    37
2000-01-14    97
2000-01-15    84
2000-01-16    56
2000-01-17    56
2000-01-18    16
2000-01-19    92
2000-01-20    63
2000-01-21    55
2000-01-22    25
2000-01-23    65
2000-01-24    80
2000-01-25    74
2000-01-26    41
2000-01-27    27
2000-01-28    26
2000-01-29    13
2000-01-30    83
              ..
2002-08-28    88
2002-08-29    30
2002-08-30    51
2002-08-31    79
2002-09-01    65
2002-09-02    86
2002-09-03    26
2002-09-04    60
2002-09-05    73
2002-09-06    14
2002-09-07    59
2002-09-08    31
2002-09-09    58
2002-09-10    63
2002-09-11    88
2002-09-12    36
2002-09-13    57
2002-09-14    68
2002-09-15    40
2002-09-16    65
2002-09-17     6
2002-09-18    43
2002-09-19    35
2002-09-20    86
2002-09-21    79
2002-09-22    61
2002-09-23    52
2002-09-24    48
2002-09-25    44
2002-09-26    64
Freq: D, Length: 1000, dtype: int32

In [32]:
longer_ts['2002-01-15':'2002-01-25']

2002-01-15     8
2002-01-16    10
2002-01-17    73
2002-01-18     4
2002-01-19    23
2002-01-20    14
2002-01-21    75
2002-01-22    36
2002-01-23    87
2002-01-24    82
2002-01-25    10
Freq: D, dtype: int32

In [33]:
ts['2011-01-08':]

2011-01-08   -1.115186
2011-01-10    0.333962
2011-01-12    1.243409
dtype: float64

In [34]:
longer_ts

2000-01-01    94
2000-01-02    54
2000-01-03     5
2000-01-04     7
2000-01-05    20
2000-01-06     3
2000-01-07    55
2000-01-08    54
2000-01-09    26
2000-01-10    57
2000-01-11    98
2000-01-12    88
2000-01-13    37
2000-01-14    97
2000-01-15    84
2000-01-16    56
2000-01-17    56
2000-01-18    16
2000-01-19    92
2000-01-20    63
2000-01-21    55
2000-01-22    25
2000-01-23    65
2000-01-24    80
2000-01-25    74
2000-01-26    41
2000-01-27    27
2000-01-28    26
2000-01-29    13
2000-01-30    83
              ..
2002-08-28    88
2002-08-29    30
2002-08-30    51
2002-08-31    79
2002-09-01    65
2002-09-02    86
2002-09-03    26
2002-09-04    60
2002-09-05    73
2002-09-06    14
2002-09-07    59
2002-09-08    31
2002-09-09    58
2002-09-10    63
2002-09-11    88
2002-09-12    36
2002-09-13    57
2002-09-14    68
2002-09-15    40
2002-09-16    65
2002-09-17     6
2002-09-18    43
2002-09-19    35
2002-09-20    86
2002-09-21    79
2002-09-22    61
2002-09-23    52
2002-09-24    48
2002-09-25    44
2002-09-26    64
Freq: D, Length: 1000, dtype: int32

In [35]:
longer_ts['2002-09-20':'2018-01-01']

2002-09-20    86
2002-09-21    79
2002-09-22    61
2002-09-23    52
2002-09-24    48
2002-09-25    44
2002-09-26    64
Freq: D, dtype: int32

In [36]:
pd.date_range('2017-11-12','2017-11-15',freq='13H')

DatetimeIndex(['2017-11-12 00:00:00', '2017-11-12 13:00:00',
               '2017-11-13 02:00:00', '2017-11-13 15:00:00',
               '2017-11-14 04:00:00', '2017-11-14 17:00:00'],
              dtype='datetime64[ns]', freq='13H')

In [37]:
dates = pd.date_range('2018-11-12', periods=100, freq='W-WED')

In [38]:
dates

DatetimeIndex(['2018-11-14', '2018-11-21', '2018-11-28', '2018-12-05',
               '2018-12-12', '2018-12-19', '2018-12-26', '2019-01-02',
               '2019-01-09', '2019-01-16', '2019-01-23', '2019-01-30',
               '2019-02-06', '2019-02-13', '2019-02-20', '2019-02-27',
               '2019-03-06', '2019-03-13', '2019-03-20', '2019-03-27',
               '2019-04-03', '2019-04-10', '2019-04-17', '2019-04-24',
               '2019-05-01', '2019-05-08', '2019-05-15', '2019-05-22',
               '2019-05-29', '2019-06-05', '2019-06-12', '2019-06-19',
               '2019-06-26', '2019-07-03', '2019-07-10', '2019-07-17',
               '2019-07-24', '2019-07-31', '2019-08-07', '2019-08-14',
               '2019-08-21', '2019-08-28', '2019-09-04', '2019-09-11',
               '2019-09-18', '2019-09-25', '2019-10-02', '2019-10-09',
               '2019-10-16', '2019-10-23', '2019-10-30', '2019-11-06',
               '2019-11-13', '2019-11-20', '2019-11-27', '2019-12-04',
               '2019-12-11', '2019-12-18', '2019-12-25', '2020-01-01',
               '2020-01-08', '2020-01-15', '2020-01-22', '2020-01-29',
               '2020-02-05', '2020-02-12', '2020-02-19', '2020-02-26',
               '2020-03-04', '2020-03-11', '2020-03-18', '2020-03-25',
               '2020-04-01', '2020-04-08', '2020-04-15', '2020-04-22',
               '2020-04-29', '2020-05-06', '2020-05-13', '2020-05-20',
               '2020-05-27', '2020-06-03', '2020-06-10', '2020-06-17',
               '2020-06-24', '2020-07-01', '2020-07-08', '2020-07-15',
               '2020-07-22', '2020-07-29', '2020-08-05', '2020-08-12',
               '2020-08-19', '2020-08-26', '2020-09-02', '2020-09-09',
               '2020-09-16', '2020-09-23', '2020-09-30', '2020-10-07'],
              dtype='datetime64[ns]', freq='W-WED')

In [39]:
long_df = pd.DataFrame(np.random.randint(1,100,size=(100,4)),
                        index=dates,
                        columns=['Colorado', 'Texas',
                                 'New York', 'Ohio'])

In [40]:
long_df['2018-12']

            Colorado  Texas  New York  Ohio
2018-12-05        21     58        99    51
2018-12-12        75     27        46    47
2018-12-19        82     67        64    30
2018-12-26        13     95        95    54

In [42]:
ts

2011-01-02   -0.240332
2011-01-05    0.086389
2011-01-07    1.215852
2011-01-08   -1.115186
2011-01-10    0.333962
2011-01-12    1.243409
dtype: float64

In [43]:
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]