In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://baike.baidu.com/item/%E6%B2%AA%E6%B7%B1300%E6%8C%87%E6%95%B0/9649198?fr=aladdin')

In [3]:
df = pd.DataFrame(df[1])

In [4]:
df.columns=df.iloc[0,:]

In [5]:
df.drop(0,axis=0,inplace=True)

In [6]:
df.head()

0    股票代码    名称  主营行业  地区 权重（%） 每股收益（元） 每股净资产（元） 流通股本（亿股）  流通市值（亿元）
1  601398  工商银行    金融  北京  1.15    0.21     5.46  3564.06  15260.05
2  601857  中国石油    能源  北京  0.37    0.03     6.54  1830.21  13131.88
3  601288  农业银行    金融  北京  1.36    0.16     3.95  3247.94  11056.48
4  601988  中国银行    金融  北京  0.80    0.15     4.59  2943.88   8557.08
5  600519  贵州茅台  食品饮料  遵义  2.27    8.96     60.2    12.56   5994.83

In [7]:
import sqlite3

In [9]:
conn = sqlite3.connect('test.db')

In [15]:
cursor = conn.cursor()

In [21]:
cursor.execute('create table user (股票代码 varchar(20) primary key,名称 varchar(20),主营行业 varchar(20),地区 varchar(20),权重 varchar(20),每股收益（元） varchar(20),每股净资产（元） varchar(20),流通股本（亿股） varchar(20),流通市值（亿元） varchar(20))')

In [23]:
print(__file__)

NameError: name '__file__' is not defined