In [17]:
import pandas as pd
import pymysql
import requests
from lxml import etree
proxies = {
    "http": "socks5://127.0.0.1:1080",
    'https': 'socks5://127.0.0.1:1080'
}
from sklearn.externals import joblib
# joblib.dump(model, 'path/to/my_model.pkl')
# model = joblib.load('path/to/my_model.pkl')

In [4]:
db = pymysql.connect('132.232.0.240', 'yxy', 'test', 'mydb')

In [5]:
data = pd.read_sql("select * from sankaku s where s.rating <> 'Questionable'",db)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6350 entries, 0 to 6349
Data columns (total 3 columns):
img_id      6350 non-null int64
tag_list    6350 non-null object
rating      6350 non-null object
dtypes: int64(1), object(2)
memory usage: 148.9+ KB

In [7]:
data.head()

    img_id                                           tag_list    rating
0  7459672  ['demonion ~maou no chika yousai~', 'astronaut...  Explicit
1  7459682  ['demonion ~maou no chika yousai~', 'astronaut...  Explicit
2  7459686  ['girls frontline', 'wa2000 (girls frontline)'...  Explicit
3  7459688  ['girls frontline', 'wa2000 (girls frontline)'...  Explicit
4  7459689  ['spider-man (series)', 'spider-gwen', 'spider...      Safe

In [8]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

bys = MultinomialNB(alpha=0.1)
tf = TfidfVectorizer()

def remove(x):
    x = x.replace('[','')
    x = x.replace(']','')
    x = x.replace("'",'')
    x = x.replace(",",' ')
    return x

In [11]:
tag_list = data['tag_list'].map(remove)
target = list(data['rating'])

tag_list = tf.fit_transform(tag_list)

In [12]:
bys.fit(tag_list,target)

MultinomialNB(alpha=0.1, class_prior=None, fit_prior=True)

In [13]:
pd.value_counts(target)

Safe        3386
Explicit    2964
dtype: int64

In [62]:
predict_str = ' '.join(
    etree.HTML(
        requests.get("http://konachan.com/post/show/277032/animal_ears-bed-breasts-cameltoe-ebi_193-fang-gray",proxies=proxies).content
    ).xpath("//ul[@id='tag-sidebar']//li/a[position()=2]/text()")
)
predict_str

list1.append(predict_str)
bys.predict(
    tf.transform(list1)
)

array(['Safe', 'Explicit', 'Explicit', 'Explicit', 'Safe', 'Safe', 'Safe',
       'Explicit', 'Explicit', 'Safe', 'Explicit', 'Safe', 'Safe',
       'Explicit', 'Safe', 'Safe', 'Safe', 'Explicit'], dtype='<U8')