In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                  'key2' : ['one', 'two', 'one', 'two', 'one'],
                  'data1' : np.random.randn(5),
                  'data2' : np.random.randn(5)})

In [8]:
df

  key1 key2     data1     data2
0    a  one  0.265145 -0.706689
1    a  two -0.704811  1.190146
2    b  one  1.323164 -0.006963
3    b  two -0.399286 -0.120729
4    a  one  1.737850  0.783841

In [10]:
df.groupby(['key1','key2'])['data2'].count()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
Name: data2, dtype: int64