In [31]:
from datetime import datetime

In [38]:
from dateutil.parser import parse

In [52]:
import pandas as pd
import numpy as np

In [3]:
a = datetime.now()

In [5]:
a

datetime.datetime(2018, 11, 12, 12, 7, 12, 165799)

In [20]:
str(a)

'2018-11-12 12:07:12.165799'

In [19]:
a.strftime('%F %X')

'2018-11-12 12:07:12'

In [22]:
time_str = '2018-11-12 12:07:12'

In [29]:
datetime.strptime(time_str,'%Y-%m-%d %H:%M:%S')

datetime.datetime(2018, 11, 12, 12, 7, 12)

In [36]:
parse('2018:11:15-12:59:42')

ValueError: ('Unknown string format:', '2018:11:15-12:59:42')

In [37]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [41]:
a= pd.to_datetime(datestrs)

In [44]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

In [45]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
    datetime(2011, 1, 7), datetime(2011, 1, 8),
    datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [64]:
ts = pd.Series(np.random.randn(6), index=dates)

In [65]:
ts

2011-01-02   -0.623780
2011-01-05    0.637873
2011-01-07   -0.685203
2011-01-08    0.019922
2011-01-10    0.419798
2011-01-12    0.322359
dtype: float64

In [63]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [62]:
(ts.index[1]).strftime('%F %X')

'2011-01-05 00:00:00'

In [69]:
ts['20110112']

0.3223588702165268

In [70]:
longer_ts = pd.Series(np.random.randint(1,100,1000),
             index=pd.date_range('1/1/2000', periods=1000))

In [71]:
longer_ts

2000-01-01     5
2000-01-02    71
2000-01-03    95
2000-01-04    63
2000-01-05    38
2000-01-06    96
2000-01-07    17
2000-01-08    28
2000-01-09    30
2000-01-10    17
2000-01-11    62
2000-01-12     9
2000-01-13    72
2000-01-14     3
2000-01-15    46
2000-01-16    88
2000-01-17    56
2000-01-18    10
2000-01-19    77
2000-01-20     1
2000-01-21    67
2000-01-22    86
2000-01-23    55
2000-01-24    24
2000-01-25     1
2000-01-26    92
2000-01-27    43
2000-01-28    66
2000-01-29     6
2000-01-30    47
              ..
2002-08-28    89
2002-08-29    68
2002-08-30    61
2002-08-31    20
2002-09-01    83
2002-09-02    19
2002-09-03     5
2002-09-04    85
2002-09-05    18
2002-09-06    20
2002-09-07    13
2002-09-08    20
2002-09-09    27
2002-09-10     8
2002-09-11    14
2002-09-12    44
2002-09-13    32
2002-09-14    46
2002-09-15    63
2002-09-16     3
2002-09-17    28
2002-09-18    17
2002-09-19    81
2002-09-20    14
2002-09-21    62
2002-09-22    74
2002-09-23     5
2002-09-24    73
2002-09-25    50
2002-09-26    73
Freq: D, Length: 1000, dtype: int32

In [75]:
longer_ts['2002-01-15':'2002-01-25']

2002-01-15    49
2002-01-16    82
2002-01-17    92
2002-01-18    98
2002-01-19     2
2002-01-20    21
2002-01-21    50
2002-01-22    32
2002-01-23    93
2002-01-24    60
2002-01-25    93
Freq: D, dtype: int32

In [77]:
ts['2011-01-08':]

2011-01-08    0.019922
2011-01-10    0.419798
2011-01-12    0.322359
dtype: float64

In [78]:
longer_ts

2000-01-01     5
2000-01-02    71
2000-01-03    95
2000-01-04    63
2000-01-05    38
2000-01-06    96
2000-01-07    17
2000-01-08    28
2000-01-09    30
2000-01-10    17
2000-01-11    62
2000-01-12     9
2000-01-13    72
2000-01-14     3
2000-01-15    46
2000-01-16    88
2000-01-17    56
2000-01-18    10
2000-01-19    77
2000-01-20     1
2000-01-21    67
2000-01-22    86
2000-01-23    55
2000-01-24    24
2000-01-25     1
2000-01-26    92
2000-01-27    43
2000-01-28    66
2000-01-29     6
2000-01-30    47
              ..
2002-08-28    89
2002-08-29    68
2002-08-30    61
2002-08-31    20
2002-09-01    83
2002-09-02    19
2002-09-03     5
2002-09-04    85
2002-09-05    18
2002-09-06    20
2002-09-07    13
2002-09-08    20
2002-09-09    27
2002-09-10     8
2002-09-11    14
2002-09-12    44
2002-09-13    32
2002-09-14    46
2002-09-15    63
2002-09-16     3
2002-09-17    28
2002-09-18    17
2002-09-19    81
2002-09-20    14
2002-09-21    62
2002-09-22    74
2002-09-23     5
2002-09-24    73
2002-09-25    50
2002-09-26    73
Freq: D, Length: 1000, dtype: int32

In [80]:
longer_ts['2002-09-20':'2018-01-01']

2002-09-20    14
2002-09-21    62
2002-09-22    74
2002-09-23     5
2002-09-24    73
2002-09-25    50
2002-09-26    73
Freq: D, dtype: int32

In [85]:
pd.date_range('2017-11-12','2017-11-15',freq='13H')

DatetimeIndex(['2017-11-12 00:00:00', '2017-11-12 13:00:00',
               '2017-11-13 02:00:00', '2017-11-13 15:00:00',
               '2017-11-14 04:00:00', '2017-11-14 17:00:00'],
              dtype='datetime64[ns]', freq='13H')

In [88]:
dates = pd.date_range('2018-11-12', periods=100, freq='W-WED')

In [89]:
dates

DatetimeIndex(['2018-11-14', '2018-11-21', '2018-11-28', '2018-12-05',
               '2018-12-12', '2018-12-19', '2018-12-26', '2019-01-02',
               '2019-01-09', '2019-01-16', '2019-01-23', '2019-01-30',
               '2019-02-06', '2019-02-13', '2019-02-20', '2019-02-27',
               '2019-03-06', '2019-03-13', '2019-03-20', '2019-03-27',
               '2019-04-03', '2019-04-10', '2019-04-17', '2019-04-24',
               '2019-05-01', '2019-05-08', '2019-05-15', '2019-05-22',
               '2019-05-29', '2019-06-05', '2019-06-12', '2019-06-19',
               '2019-06-26', '2019-07-03', '2019-07-10', '2019-07-17',
               '2019-07-24', '2019-07-31', '2019-08-07', '2019-08-14',
               '2019-08-21', '2019-08-28', '2019-09-04', '2019-09-11',
               '2019-09-18', '2019-09-25', '2019-10-02', '2019-10-09',
               '2019-10-16', '2019-10-23', '2019-10-30', '2019-11-06',
               '2019-11-13', '2019-11-20', '2019-11-27', '2019-12-04',
               '2019-12-11', '2019-12-18', '2019-12-25', '2020-01-01',
               '2020-01-08', '2020-01-15', '2020-01-22', '2020-01-29',
               '2020-02-05', '2020-02-12', '2020-02-19', '2020-02-26',
               '2020-03-04', '2020-03-11', '2020-03-18', '2020-03-25',
               '2020-04-01', '2020-04-08', '2020-04-15', '2020-04-22',
               '2020-04-29', '2020-05-06', '2020-05-13', '2020-05-20',
               '2020-05-27', '2020-06-03', '2020-06-10', '2020-06-17',
               '2020-06-24', '2020-07-01', '2020-07-08', '2020-07-15',
               '2020-07-22', '2020-07-29', '2020-08-05', '2020-08-12',
               '2020-08-19', '2020-08-26', '2020-09-02', '2020-09-09',
               '2020-09-16', '2020-09-23', '2020-09-30', '2020-10-07'],
              dtype='datetime64[ns]', freq='W-WED')

In [93]:
long_df = pd.DataFrame(np.random.randint(1,100,size=(100,4)),
                        index=dates,
                        columns=['Colorado', 'Texas',
                                 'New York', 'Ohio'])

In [96]:
long_df['2018-12']

            Colorado  Texas  New York  Ohio
2018-12-05        28     78        81    50
2018-12-12        79     74        76    98
2018-12-19        80     71        48    45
2018-12-26         3     85        48    74

In [97]:
long_df.groupby('2018-11')

KeyError: '2018-11'